USE [esoft]
GO
/****** Object:  UserDefinedFunction [PBI].[Fn_Report_BS]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [PBI].[Fn_Report_BS]()  
RETURNS @rows TABLE   
   (
		 Level1	 varchar(100)
		,Level2	 varchar(100)
		,Ord	tinyint
		,DT DATE
		,Balance DECIMAL(18,2)
   )  
AS  
BEGIN
	

   INSERT INTO @rows
   SELECT 
		 bs.level1
		,bs.level2
		,bs.Ord
		,b.DT
		,SUM(b.CloseBalance) AS Balance
	FROM [PBI].[Accounts] as a
	INNER JOIN [PBI].[BalanceSheetStructure] AS bs
	   ON a.mapping1 = bs.level2
	LEFT JOIN [PBI].[Balances] AS b
		ON a.AccountSeq = b.AccountSeq
	GROUP BY 
	     bs.level1
		,bs.level2
		,bs.Ord
		,b.DT

	INSERT INTO @rows
	SELECT 
		 b.level1
		,b.level2
		,b.Ord
		,pl.DT
		,-1 * pl.Movement  as Balance
	FROM [PBI].[BalanceSheetStructure] AS b
	INNER JOIN PBI.Fn_Report_PL() as pl
	   ON pl.level0 = '7. Earnings after exchange difference'
	WHERE b. Level2 = 'P&L for period'


	INSERT INTO @rows
	SELECT 
		 b.level1
		,NULL AS level2
		,127  AS Ord
		,t.DT
		,SUM(t.Balance) AS Balance
	FROM [PBI].[BalanceSheetStructure] AS b
	INNER JOIN @rows AS t
	   ON t.Level1 IN ('1. NON CURRENT ASSETS', '2. CURRENT ASSETS', '3. CURRENT LIABILITIES')
	WHERE b.level1 = '4. NET ASSETS'
	GROUP BY  
		 b.level1
		,t.DT

	;WITH totals AS (
		SELECT 
			 r.level1
			,r.level2
			,r.Ord
			,r.DT
			,SUM(pl.Balance) as PL
		FROM @rows as r
		INNER JOIN @rows AS pl
		   ON  pl.Level2 = 'P&L for period'
		   AND YEAR(r.DT) = YEAR(pl.DT)
		   AND pl.dt < r.DT
		WHERE r.level2 = 'Retained Earnings'
		GROUP BY 
		 r.level1
		,r.level2
		,r.Ord
		,r.DT
	)
	UPDATE r
	SET Balance += t.PL
	FROM @rows AS r
	INNER JOIN totals AS t
	   ON  r.DT = t.DT
	   AND r.Level2 = t.level2



	RETURN 

END
GO
/****** Object:  UserDefinedFunction [PBI].[Fn_Report_PL]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [PBI].[Fn_Report_PL]()  
RETURNS @rows TABLE   
   (
		     Level0 varchar(100)
			,Level1	 varchar(100)
			,Level2	 varchar(100)
			,Ord	INT
			,DT DATE
			,Movement DECIMAL(18,2)
   )  
AS  
BEGIN
	
	DECLARE @TMP TABLE   
    (
		     Level0 varchar(100)
			,Level1	 varchar(100)
			,Level2	 varchar(100)
			,Ord	tinyint
			,DT DATE
			,Movement DECIMAL(18,2)
   ); 

	WITH accountBalances AS(
		SELECT 
			 account_code
			,b.accbal_period
			,b.accbal_year
			,a.account_text10						  AS MappingAlternative
			,SUM(b.accbal_debits - b.accbal_credits)  AS Movement
		FROM [dbo].[accaccounts] as a
		INNER JOIN [dbo].[accbalances] AS b
		   ON a.account_seq = b.accbal_account_seq
		WHERE a.account_comp = 'TMF'
		GROUP BY
			 account_code
			,b.accbal_period
			,accbal_year
			,a.account_text10
	), adjustments AS(
		SELECT 
			 Level0
			,Level1	
			,Level2	
			,Ord	
			,dateadd(month, a.accbal_period-1, CONCAT(a.accbal_year, '-01-01')) AS DT	
			,-1 * SUM(Movement) AS Movement
		FROM [PBI].[PLAnalysisStructure] AS s
		INNER JOIN accountBalances AS a
		  ON s.level0 = '8. Adjustments'
		   AND account_code IN (
		 '910050',
		 '910051',
		 '910097'
		)
		GROUP BY Level0
			,Level1	
			,Level2	
			,Ord	
			,dateadd(month, a.accbal_period-1, CONCAT(a.accbal_year, '-01-01'))	
	), accountBalances_mapping AS(
		SELECT 
			 dateadd(month, a.accbal_period-1, CONCAT(a.accbal_year, '-01-01')) as [DT]
			,COALESCE(CASE WHEN m.Mapping1 = '' then null ELSE m.Mapping1 END, CASE WHEN CHARINDEX('/',a.MappingAlternative) > 1 THEN LEFT(a.MappingAlternative,CHARINDEX('/',a.MappingAlternative)-1) ELSE NULL END) AS Mapping1
			,COALESCE(CASE WHEN m.Mapping2 = '' then null ELSE m.Mapping2 END, CASE WHEN CHARINDEX('/',a.MappingAlternative) > 1 THEN RIGHT(a.MappingAlternative,LEN(a.MappingAlternative) - CHARINDEX('/',a.MappingAlternative)) ELSE NULL END) AS Mapping2
			,SUM(Movement) AS Movement
		FROM accountBalances a
		LEFT JOIN [PBI].[AccountMappings] AS m
		  ON a.account_code = m.[AccountCode]
		GROUP BY 
			 dateadd(month, a.accbal_period-1, CONCAT(a.accbal_year, '-01-01')) 
			,COALESCE(CASE WHEN m.Mapping1 = '' then null ELSE m.Mapping1 END, CASE WHEN CHARINDEX('/',a.MappingAlternative) > 1 THEN LEFT(a.MappingAlternative,CHARINDEX('/',a.MappingAlternative)-1) ELSE NULL END) 
			,COALESCE(CASE WHEN m.Mapping2 = '' then null ELSE m.Mapping2 END, CASE WHEN CHARINDEX('/',a.MappingAlternative) > 1 THEN RIGHT(a.MappingAlternative,LEN(a.MappingAlternative) - CHARINDEX('/',a.MappingAlternative)) ELSE NULL END) 

	), level2Info AS(
		SELECT 
			 Level0
			,Level1	
			,Level2	
			,Ord	
			,DT	
			,Movement
		FROM [PBI].[PLAnalysisStructure] AS s
		LEFT JOIN accountBalances_mapping AS b
		   ON s.level2 = b.mapping2
		WHERE Level2 IS NOT NULL 

		UNION ALL 

		SELECT * 
		FROM adjustments
	)
	INSERT INTO @TMP
	SELECT *
	FROM level2Info 

	;WITH level1_operational_cost AS (
	SELECT 
		 b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	
		,SUM(l.Movement) AS Movement
	FROM PBI.PLAnalysisStructure as b
	INNER JOIN @TMP AS l
	   ON l.level1 IN ('1. Income ', '2. Direct expenses')
	WHERE b.level1 = '3. Operating profit/(loss)'
	GROUP BY b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT
	), level0_fin_expenses AS(
	SELECT 
		 b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	
		,SUM(L.Movement) - SUM(CASE WHEN l.level2 in ('Interest expense', 'Foreign Exchange difference') then L.Movement ELSE 0 END) AS Movement
	FROM PBI.PLAnalysisStructure as b
	INNER JOIN @TMP AS l
	   ON  l.Level1 = '6. Financing expenses'
		OR l.level2 in ('Exchange difference', 'Interest expense')
	WHERE b.level0 = '2. Total other expenses' and b.level1 = '6.  Financing expenses'
	GROUP BY b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT
	), level0_loan_interest AS (
		SELECT 
			 b.Level0
			,b.Level1	
			,b.Level2	
			,b.Ord	
			,l.DT	
			,SUM(l.Movement) as Movement
		FROM PBI.PLAnalysisStructure as b
		INNER JOIN @TMP AS l
		   ON l.level2 = 'Interest expense'
		WHERE b.level0 ='4. Loan interest'
		GROUP BY 		b.Level0
			,b.Level1	
			,b.Level2	
			,b.Ord	
			,l.DT
	), basicSet AS(
		SELECT *
		FROM @TMP
		UNION ALL 
		SELECT *
		FROM level1_operational_cost
		UNION ALL 
		SELECT *
		FROM level0_fin_expenses
		UNION ALL 
		SELECT *
		FROM level0_loan_interest
	), basicSet_incl_ebita AS(
	SELECT 
		 b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	
		,SUM(l.Movement) as Movement
	FROM PBI.PLAnalysisStructure AS b
	INNER JOIN basicSet AS l
	   ON l.level0 in ('1. Profit/(loss) from operations', '2. Total other expenses')
	WHERE b.level0 ='3. EBITDA'
	group by b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	

		UNION ALL 
		SELECT * 
		FROM basicSet
	), basicSet_incl_ebita_earnings AS (
	SELECT 
		 b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	
		,SUM(l.Movement) as Movement
	FROM PBI.PLAnalysisStructure AS b
	INNER JOIN basicSet_incl_ebita AS l
	   ON l.level0 in ('3. EBITDA', '4. Loan interest')
	WHERE b.level0 = '5. EARNINGS after interest'
	group by b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	

		UNION ALL 
		SELECT *
		FROM basicSet_incl_ebita
	), basicSet_incl_ebita_earnings_exchange AS(
	SELECT 
		 b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	
		,SUM(l.Movement) as Movement
	FROM PBI.PLAnalysisStructure AS b
	INNER JOIN basicSet_incl_ebita_earnings AS l
	   ON l.level2 = 'Foreign Exchange difference'
	WHERE b.level0 = '6. Exchange difference'
	group by b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	

	UNION ALL 
	SELECT * FROM basicSet_incl_ebita_earnings
	), final AS(
	SELECT 
		 b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	
		,SUM(l.Movement) as Movement
	FROM PBI.PLAnalysisStructure AS b
	INNER JOIN basicSet_incl_ebita_earnings_exchange AS l
	   ON l.level0 IN ('6. Exchange difference', '5. EARNINGS after interest')
	WHERE b.level0 = '7. Earnings after exchange difference'
	group by b.Level0
		,b.Level1	
		,b.Level2	
		,b.Ord	
		,l.DT	
	UNION ALL 
	SELECT * FROM basicSet_incl_ebita_earnings_exchange
	)
	INSERT INTO @rows
	SELECT 
		 Level0
		,Level1	
		,Level2	
		,datediff(day, '2020-01-01', '2025-01-01') + Ord	 AS Ord	
		,DT	
		,-1 * Movement as Movement
	FROM final 

	RETURN 

END




GO
/****** Object:  Table [PBI].[AccountMappings]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PBI].[AccountMappings](
	[AccountCode] [varchar](15) NULL,
	[Mapping1] [varchar](256) NULL,
	[Mapping2] [varchar](256) NULL
) ON [PRIMARY]
GO
/****** Object:  View [PBI].[Accounts]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [PBI].[Accounts]
AS

SELECT 
     a.account_seq				AS AccountSeq
	,a.account_code				AS AccountCode
	,a.account_name1			AS AccountName
	,a.account_short			AS AccountShortName
	,a.account_type				AS AccountTypeCode
	,t.acctype_desc1			AS AccountTypeName
	,a.[account_date_added]		AS CreatedAt
	,a.account_date_modified	AS UpdatedAt
	,a.account_text10			AS AccountMapping
	,COALESCE(CASE WHEN m.Mapping1 = '' then null ELSE m.Mapping1 END, CASE WHEN CHARINDEX('/',a.account_text10) > 1 THEN LEFT(a.account_text10,CHARINDEX('/',a.account_text10)-1) ELSE NULL END) AS Mapping1
	,COALESCE(CASE WHEN m.Mapping2 = '' then null ELSE m.Mapping2 END, CASE WHEN CHARINDEX('/',a.account_text10) > 1 THEN RIGHT(a.account_text10,LEN(a.account_text10) - CHARINDEX('/',a.account_text10)) ELSE NULL END) AS Mapping2
FROM [dbo].[accaccounts] as a WITH(NOLOCK)
inner join [dbo].[acctypes] as t WITH(NOLOCK)
   ON a.account_comp = t.acctype_comp  and a.account_type  = t.acctype_code 
LEFT JOIN [PBI].[AccountMappings] AS m
  ON a.account_code = m.[AccountCode]
WHERE a.account_comp = 'TMF'
GO
/****** Object:  View [PBI].[Balances]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [PBI].[Balances]
AS
WITH allBalances AS(
	SELECT 
		[accbal_account_seq]	 AS [AccountSeq]
	   ,dateadd(month, accbal_period-1, CONCAT(accbal_year, '-01-01')) as [DT]
	   ,[accbal_opening_balance] AS [OpeningBalance]
	   ,[accbal_debits]			 AS [Debits]
	   ,[accbal_credits]		 AS [Credits]
	   ,isnull(accbal_opening_balance,0) + isnull(accbal_debits,0) - isnull(accbal_credits,0) as CloseBalance
	   ,LEAD(dateadd(month, accbal_period-1, CONCAT(accbal_year, '-01-01'))) OVER (PARTITION BY [accbal_account_seq] ORDER BY accbal_year,accbal_period) AS NextMonth
	FROM [esoft].[dbo].[accbalances] AS b
	INNER JOIN [dbo].[accaccounts] AS a
	   ON b.accbal_account_seq = a.[account_seq]
	WHERE account_comp = 'TMF'
), allMonths AS(
	SELECT DISTINCT [DT] 
	FROM allBalances
)
SELECT 
	 [AccountSeq]
	,COALESCE(am.DT, a.DT) AS DT
	,CASE WHEN am.DT IS NOT NULL AND a.DT <> am.DT THEN CloseBalance ELSE [OpeningBalance] END AS [OpeningBalance]
	,CASE WHEN am.DT IS NOT NULL AND a.DT <> am.DT THEN 0 ELSE [Debits] END					   AS [Debits]
	,CASE WHEN am.DT IS NOT NULL AND a.DT <> am.DT THEN 0 ELSE [Credits] END				   AS [Credits]
	,CloseBalance
	,CASE WHEN am.DT IS NOT NULL AND a.DT <> am.DT THEN 1 ELSE 0 END AS ExtraRecord
FROM allBalances AS a
LEFT JOIN allMonths AS am
   ON  (a.DT <= am.DT  and ISNULL(a.NextMonth, a.DT) > am.DT)
   OR  (CloseBalance <> 0 AND a.NextMonth IS NULL AND a.DT <= am.DT)




 
GO
/****** Object:  View [PBI].[Transactions]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [PBI].[Transactions]
AS
SELECT 
	 tran_line							AS TransactionId
	,tran_account_seq					AS AccountSeq
	,DATEADD(mm, DATEDIFF(m,0,tran_document_date ),0) AS [DT]
	,tran_account_refer					AS AccountSeqRef
	,acctrantype_desc1					AS TransactionType
	,tran_posted_date					AS PostDate
	,tran_entry_date					AS EntryDate
	,tran_document_date					AS DocumentDate
	,tran_duedate						AS DueDate
	,tran_entered_by					AS EnterBy
	,tran_approved_by					AS ApprovedBy
	,tran_currency						AS Currency
	,tran_currency_rate					AS CurrencyRate
	,tran_sign * tran_foreign_amount    AS ForeignAmount
	,tran_sign * tran_base_amount 		AS   BaseAmount
	,tran_details						AS TransactionDescription
	,tran_foreign_outstanding			AS foreign_outstanding
	,tran_base_outstanding				AS base_outstanding
	,flag								AS Flag
FROM [dbo].[acctrans_savelines] AS tr
INNER JOIN [dbo].[acctrantypes] AS ty
   ON  tr.tran_transaction_type = ty.[acctrantype_code]
   AND tr.tran_comp = ty.acctrantype_comp
WHERE tr.tran_comp = 'TMF'
AND tran_document_date < '2024-07-01'
GO
/****** Object:  Table [PBI].[BalanceSheetStructure]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PBI].[BalanceSheetStructure](
	[Level1] [varchar](100) NULL,
	[Level2] [varchar](100) NULL,
	[Ord] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [PBI].[Date]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PBI].[Date](
	[DT] [date] NULL,
	[Year] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [PBI].[PLAnalysisStructure]    Script Date: 9/26/2024 3:53:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PBI].[PLAnalysisStructure](
	[Level1] [varchar](100) NULL,
	[Level2] [varchar](100) NULL,
	[Level0] [varchar](100) NULL,
	[Ord] [tinyint] NULL
) ON [PRIMARY]
GO
INSERT [PBI].[AccountMappings] ([AccountCode], [Mapping1], [Mapping2]) VALUES (N'110001', N'Computer software and hardware', N'')
INSERT [PBI].[AccountMappings] ([AccountCode], [Mapping1], [Mapping2]) VALUES (N'110002', N'Computer software and hardware', N'')
INSERT [PBI].[AccountMappings] ([AccountCode], [Mapping1], [Mapping2]) VALUES (N'110003', N'Computer software and hardware', N'')
GO
INSERT [PBI].[BalanceSheetStructure] ([Level1], [Level2], [Ord]) VALUES (N'1. NON CURRENT ASSETS', N'Signs', 1)
INSERT [PBI].[BalanceSheetStructure] ([Level1], [Level2], [Ord]) VALUES (N'1. NON CURRENT ASSETS', N'Equipment', 2)
INSERT [PBI].[BalanceSheetStructure] ([Level1], [Level2], [Ord]) VALUES (N'1. NON CURRENT ASSETS', N'Furniture and fittings', 3)
GO
INSERT [PBI].[Date] ([DT], [Year]) VALUES (CAST(N'2022-01-01' AS Date), 2022)
INSERT [PBI].[Date] ([DT], [Year]) VALUES (CAST(N'2022-01-02' AS Date), 2022)
INSERT [PBI].[Date] ([DT], [Year]) VALUES (CAST(N'2022-01-03' AS Date), 2022)
GO
INSERT [PBI].[PLAnalysisStructure] ([Level1], [Level2], [Level0], [Ord]) VALUES (N'1. Income', N'Interest Income ', N'1. Profit/(loss) from operations', 1)
INSERT [PBI].[PLAnalysisStructure] ([Level1], [Level2], [Level0], [Ord]) VALUES (N'1. Income', N'Income from car Sale', N'1. Profit/(loss) from operations', 2)
INSERT [PBI].[PLAnalysisStructure] ([Level1], [Level2], [Level0], [Ord]) VALUES (N'1. Income', N'Commision', N'1. Profit/(loss) from operations', 3)
GO
